/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle; }

.d-f {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.jcsb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.align-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.align-end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end; }

.justify-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.justify-end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.space-between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.menu-list {
  padding-right: 3rem; }

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Noto Sans TC', 'Microsoft JhengHei', Roboto, 'Helvetica Neue', Arial, sans-serif; }

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px; }

@media (max-width: 768px) {
  .container {
    max-width: 720px; } }

@media (max-width: 375px) {
  .container {
    max-width: 345px; } }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle; }

.header {
  background-color: #aa0601;
  color: white;
  margin: 0 auto;
  padding: 0 88px; }

@media (max-width: 768px) {
  .header {
    padding: 0 39px; } }

@media (max-width: 375px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; } }

.header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 64px;
     -moz-column-gap: 64px;
          column-gap: 64px; }

@media (max-width: 768px) {
  .header-menu {
    -webkit-column-gap: 40px;
       -moz-column-gap: 40px;
            column-gap: 40px; } }

@media (max-width: 375px) {
  .menu-item {
    width: 50%; } }

.logo {
  padding: 30px 0; }

.logo a {
  background: url(../images/logo.png);
  background-size: contain;
  text-indent: 101%;
  overflow: hidden;
  display: block;
  white-space: nowrap;
  width: 5rem;
  height: 3.04rem; }

.menu-item {
  font-size: 1.25rem;
  line-height: 1.875rem;
  text-align: center; }

.menu-item a {
  text-decoration: none;
  color: white;
  display: block;
  padding: 10px 0px; }

.footer {
  max-width: 100%;
  height: 332px;
  background-color: #aa0601;
  margin: 0 auto;
  padding-left: 405px; }

.footer-menu {
  font-size: 1rem;
  line-height: 1.5;
  text-align: center; }

footer li a {
  text-decoration: none;
  color: white; }

.menu-contact {
  padding-top: 2.75rem; }

.media-icon {
  padding-top: 3rem;
  padding-left: 390px; }

.media-icon li {
  padding-right: 2rem; }

.contact {
  font-size: 2.25rem;
  line-height: 1.5; }

.contact img {
  padding-right: 1.25rem; }

.contact-tele {
  padding-bottom: 1rem; }

.contact-email {
  padding-bottom: 1.5rem;
  border-bottom: 1px solid white; }

.private {
  font-size: 1rem;
  line-height: 1.5;
  color: white;
  padding-top: 2rem;
  padding-bottom: 39px; }

.private-list1 {
  padding-right: 38.375rem; }

.banner {
  background-image: url(../images/index-background1.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  margin: 0 auto;
  color: #650300; }

.banner-wrap {
  height: 840px; }

h2 {
  font-size: 36px;
  line-height: 1.5; }

h3 {
  font-size: 64px;
  line-height: 1.5; }

/*# sourceMappingURL=all.css.map */
